
//- teaser item 
.col
    .teaser.teaser__wrap
        .teaser.teaser__contents
            h3.teaser__heading=teaserHeading
            .teaser.teaser__cta
                p.teaser__copy=taserContent 
                a.btn.btn--alt.teaser__ctaLink(href=teaserLink) read more
        .teaser__icon 
            img(src="images/slanding-arrow.svg", alt="")
        .teaser.teaser__overlay
        figure.teaser__img 
            img(src=teaserImg, alt="teasr")