.section__teaser{
    padding-top: 2px;
    .container{
        padding-left: 2px;
        padding-right: 2px;
        .row{
            margin-left: -4px;
            margin-right: -4px;
        }
        .col{
            display: flex;
            padding: 2px;
        }
    }
    
    &--2col{
        .container{
            .row{
                .col{
                    @media #{$lg}{
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    
                }
            }
        }
        .teaser{
            &:hover{
                .teaser__heading{
                    font-size: 80px;
                    @media screen and (max-width: 768px){
                        font-size: 56px;
                    }
                }
            }
            
        }
        
        
    }
    &--3col{
        .container{
            .row{
                .col{
                    @media #{$lg}{
                        flex: 0 0 33.333%;
                        max-width: 33.333%;
                    }
                }
            }
        }
    }
    .teaser{
        &__wrap{
            overflow: hidden;
            padding-bottom: 500px;
            width: 100%;
            position: relative;
            max-height: 500px;
            box-sizing: border-box;
            z-index: 9;
            cursor: pointer;
            &:hover{
                text-align: center;
                .teaser__contents{
                    bottom: 50%;
                    transform: translateY(50%);
                    
                }
                .teaser__heading{
                    transform: translateX(-50%);
                    left: 50%;
                }
                .teaser__overlay{
                    opacity: 0.7;
                }
                .teaser__cta{
                    opacity: 1;
                    max-height: 500px;
                }

                .teaser__icon{
                    opacity: 0;
                }
                
            }
        }

        &__icon{
            position: absolute;
            z-index: 99;
            bottom: 40px;
            left: 40px;
            transition: all ease-in-out 0.3s;
            img{
                width: 24px;
                filter: brightness(0) invert(1);
            }
        }

        &__contents{
            position: absolute;
            display: flex;
            flex-wrap: wrap;
            padding: 40px;
            bottom: 0;
            transition: all ease-in-out 0.3s;
            z-index: 99;

            @media #{$md-1}{
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &__cta{
            max-height: 0;
            opacity: 0;
            transition: all ease-in-out 0.3s;
            z-index: 99;
            text-align: center;
        }

        &__ctaLink{
            display: inline-flex;
        }


        &__heading,&__copy{
            position: relative;
            z-index: 99;
            color: #fff;
            transition: all ease-in-out 0.3s;
            margin: 0;
        }
        &__heading{
            margin-bottom: 30px;
            left: 0;
        }
        &__copy{
            text-align: justify;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        &__overlay{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 9;
            background-color: #000;
            opacity: 0.4;
            transition: all ease-in-out 0.3s;
        }

        &__img{
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 0;
            padding: 0;
            z-index: 0;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}