html,body {
    padding:0;
    margin:0;
}
div,span,section,article,main,video,header,footer{
    box-sizing: border-box;
}
body {
    &:not(.is-loaded) {
        display:none;
        img{
            display: none;
        }
    }
}