.footer{
    position: relative;
    padding-bottom: 40px;
    .container{
        max-width: 100%;
        @media #{$lg}{
            max-width: 1320px;
        }
        .row{
            .col{
                padding-left: 35px;
                padding-right: 35px;
                border-bottom: 1px solid $theme_bg;
                @media #{$lg}{
                    flex: 0 0 33.333%;
                    max-width: 33.333%;
                    border-bottom: none;
                }

                & + .col{
                    margin-top: 40px;
                    @media #{$lg}{
                        margin-top: 0;
                    }
                }
            }
        }
    }
    h4{
        font-size: 35px;
        color: $theme_main;
        margin-bottom: 0;
    }

    &__col{
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        @media #{$lg}{
            width: 100%;
            padding-bottom: 0;
        }
    }
    &__items{
        padding-top: 40px;
        display: flex;

        p{
            margin-top: 0;
            margin-bottom: 0;
        }

        &-col{
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-social{
            display: flex;
            flex-direction: column;
        }
    }

    &__menu{
        display: flex;
        flex-direction: column;
        li{
            margin-top: auto;
            &:first-child{
                a{
                    border-top: 0;
                }
            }
            &:only-child{
                a{
                    border-top: 1px solid;
                }
                
            }
        }
        a{
            color: #000;
            text-decoration: none;
            width: calc(100% - 10px);
            display: inline-flex;
            margin-right: 10px;
            border-top: 1px solid;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    a{
        &.mail__link{
            color: $theme_main;
            text-decoration: none;
        }
    }

    &__social{
        display: flex;
        margin-top: 25px;
        li{
            & + li{
                margin-left: 14px;
            }
            a{
                width: 40px;
                height: 40px;
                border: 1px solid #dfdfdf;
                background-color: #f2f3f3;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                border-radius: 40px;

                img{
                    max-width: 24px;
                    filter: invert(11%) sepia(95%) saturate(2615%) hue-rotate(218deg) brightness(94%) contrast(90%)
                }
            }
        }
    }

    .copyrights{
        padding-top: 25px;
        padding-bottom: 10px;
        
        text-align: center;
        @media #{$lg}{
            margin-top: 70px;
            border-top: 1px solid $theme_bg;
        }
        
        .row{
            .col{
                flex: 0 0 100%;
                max-width: 100%;
                border-bottom: 0;
                
            }
        }
        
    }
}

.back-top{
    width: 70px;
    height: 70px;
    background-color: $theme_main;
    position: absolute;
    bottom: 270px;
    right: 150px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    opacity: 0.9;
    img{
        transform: rotate(90deg);
        filter: brightness(0) invert(1);
    }
}