.av.header {
	position: fixed;
	top: 40px;
	left: 0;
	right: 0;
	z-index: 99;
	&.floating{
		top: 0;
	}
	.container{
		padding: 0;
	}
	.header__wrap {
		display: flex;
		align-items: center;
		&.floating{
			.logo_wrap a{
				padding: 10px 15px;
				img{
					max-width: 160px;
				}
			}
			.header__nav{
				.btn{
					&--nav{
						padding: 17px;
						img{
							max-width: 24px;
						}
					}
				}
			}
		}
	}
	h1 {
		margin: 0;
	}
	.logo_wrap{
		display: flex;
		flex: 0 0 62.5%;
		max-width: 62.5%;
		@media #{$lg-1}{
			flex: 0 0 calc(100% - 90px);
			max-width: calc(100% - 90px);
		}
		a{
			display: inline-flex;
			align-items: center;
			max-width: 300px;
			margin-left: auto;
			padding: 33px 20px;
			background-color: #fff;
			transition: all ease-in-out 0.3s;
			img{
				width: 100%;
				max-width: 220px;
				transition: all ease-in-out 0.3s;
			}
		}
		
	}
	.header__nav {
		display: flex;
		align-items: center;
		flex: 0 0 37.5%;
		max-width: 37.5%;
		@media #{$lg-1}{
			flex: 0 0 90px;
			max-width: 90px;
		}
		.nav__btn{
			display: inline-flex;
			margin-right: auto;
			position: relative;
			z-index: 99;
			.btn{
				&--nav{
					padding: 30px;
					border: none;
					background-color: $theme_main;
					display: flex;
					align-items: center;
					justify-content: center;
					&:hover{
						background-color: transparentize($color: $theme_main, $amount: 0.1);
					}
					img{
						width: 100%;
						max-width: 36px;
						filter: brightness(0) invert(1);
						transition: all ease-in-out 0.3s;
						transition-delay: 0.1s;
					}

					&.menu_opened{
						img{
							transform: rotateY(-180deg);
						}
					}
				}
			}
		}
		.main__menu{
			background-color: $theme_main;
			position: fixed;
			box-sizing: border-box;
			z-index: 9;
			top: 0;
			right: -100%;
			bottom: 0;
			width: 37.5vw;
			max-width: 100vh;
			padding: 96px 130px;
			@media #{$xl-1}{
				width: 100%;
				padding: 60px 50px;
			}
			transition: all cubic-bezier(1, 0, 0, 1) 0.6s;
			&.menu_open{
				right: 0;
			}
			ul {
				font-size: 18px;
				a,span {
					color: #fff;
					text-decoration: none;
					padding: 10px 0 10px 40px;
					display: inline-flex;
					position: relative;
					&:before{
						content: '';
						position: absolute;
						width: 20px;
						height: 20px;
						left: 0;
						z-index: 999;
						background-size: contain;
						background-image: url(../images/arrow-right.svg);
						filter: brightness(0) invert(1);
						transition: all ease-in-out 0.2s;
					}
					&:hover{
						&:before{
							left: 5px;
						}
					}
					&.active {
						color: #fff;
					}
				}

				.submenu{
					display: none;
					padding-left: 40px;
					a:before{
						opacity: 0.7;
					}
				}
			}
			
		}

		
		
	}
}