ul, ol {
	margin:0;
	padding:0;
	li {
		list-style: none;
	}
}
p {
	@include font-size(16px, 18px);
	margin:0 0 rem(20);
	&:last-of-type,
	&:last-child {
		margin-bottom: 0;
	}
	&:empty {
		display:none;
	}
}

/* buttons and links*/

.btn{
	cursor: pointer;
	border: 1px solid;
	padding: 13px 30px;
	text-decoration: none;
	color: $theme_main;
	transition: all ease-in-out 0.3s;
	&--main,
	&--large{
		background-color: $theme_main;
		color: #fff;
		border: 1px solid $theme_main;
		border-radius: 8px;
		&:hover{
			background-color: transparentize($color: $theme_main, $amount: 0.1);
		}
	}

	&--alt{
		background-color: #fff;
		color: $theme_main;
		border: 1px solid #fff;
		border-radius: 8px;
	}

	&--large{
		border-radius: 0px;
		padding: 23px 48px;
	}
}

.text{
	&--center{
		text-align: center;
	}
}

.mx-auto{
	margin-left: auto;
	margin-right: auto;
}