
#page-wrap{
	min-height: 100vh;
	overflow: hidden;
}
.container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 0 rem(15);
	&--fluid {
		max-width: 100%;
	}

	.row{
		display: flex;
		flex-wrap: wrap;
		.col{
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
.section{
	padding-top: 40px;
	padding-bottom: 40px;
}

.seperator{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: flex;
	height: 1px;
	border-bottom: 1px solid #fff;
	position: relative;
	&--extendright{
		&:after{
			content: '';
			width: 300px;
			height: 1px;
			border-bottom: 1px solid #fff;
			z-index: 9;
			position: absolute;
			left: 0;
			top: -1px;
		}
	}
	
}