html,body, p, div, button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    font-size: 16px;
}
    
@for $i from 1 through 6 {
    h#{$i}, .h#{$i}{
        font-weight: 400;
        font-family: 'Yanone Kaffeesatz',sans-serif;
        margin-top: 0;
        margin-bottom: 0.333em;
    }
}

h1,.h1{
    font-weight: 300;
    font-size: 90px;
    @media (max-width: 767px){
        font-size: 64px;
    }
    
}

h2,.h2{
    font-size: 80px;
    @media (max-width: 767px){
        font-size: 56px;
    }
}

h3,.h3{
    font-size: 70px;
    @media (max-width: 767px){
        font-size: 48px;
    }
}

h4,.h4{
    font-size: 60px;
    @media (max-width: 767px){
        font-size: 32px;
    }
}

h6, .h6{
    font-size: 16px;
}