section.section.section--json_info 
    .container 
        .row 
            .col 
                h3.text.text--center Json Information Section
                button.btn.btn--large.mx-auto.show_info(id="show_info") 
                    span#show Show Information
                    span#hide Hide Information

        .row 
            .col 
                .json__tabewrap
                    table.json__table
                        thead 
                            td(valign="top") ID 
                            td(valign="top")  Name 
                            td(valign="top")  Last Name
                            td(valign="top")  Age
                            td(valign="top")  Contact Details
                            td(valign="top")  Company
                        tbody(id="json__infocontent")
                            

                    