.section--json_info {
    padding-top: 0;
    .show_info{
        display: flex;
        #hide{
            display: none;
        }
    }
}

.json__tabewrap{
    padding-top: 40px;
    display: none;
    @media #{$xl-1}{
        overflow-x: auto;
    }
    .json__table{
        width: 100%;
        min-width: 1200px;
        border-collapse: collapse;
        td{
            padding: 10px 5px;
            border-bottom: 1px solid $theme_bg;
            vertical-align: top;
            table{
                td{
                    border-bottom: none;
                    padding: 0;
                }
            }
        }
        thead{
            background-color: $theme_main;
            
            *{
                color: #fff;
            }
        }
    }

    table.rowmaker{
        &+.rowmaker{
            margin-top: 20px;
        }
    }
}