extend ../pagelayout/home
block variables
	-var active = 'Home'
	-var bodyClass = 'theme--default'
block page 

	//- hero banner 
	include ../components/hero-banner/hero-banner.pug

	//- teaser content 2-col
	- var colCount="2"
	section.section.section__teaser(class='section__teaser--'+colCount+'col')
		.container.container--fluid 
			.row
				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser1.jpg"
		
					include ../components/teaser/teaser.pug

				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser2.jpg"
					include ../components/teaser/teaser.pug

	


	//- json info 
	include ../components/json-info/json-info.pug

	
	//- teaser content - 3col 
	- var colCount="3"
	section.section.section__teaser(class='section__teaser--'+colCount+'col')
		.container.container--fluid 
			.row
				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser3.jpg"
		
					include ../components/teaser/teaser.pug

				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser4.jpg"
					include ../components/teaser/teaser.pug

				- var teaserHeading="Teaser Heading"
				- var taserContent="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa vero at vitae nisi fugiat. Ipsam perferendis quo facere saepe officia!"
				- var teaserLink="#"
				- var teaserImg="images/teaser5.jpg"
					include ../components/teaser/teaser.pug
