@function em($value, $base: 16) {
  $newValue: $value / $base * 1em;
  @return $newValue;
}
@function rem($value) {
  $newValue: $value / $bodySize * 1rem;
  @return $newValue;
}
@function px2em($px) {
  @return ($px / $bodyFontSize) * 1em;
}
@mixin font-size($font-size, $line-height: false) {
  font-size: px2em($font-size);
  @if $line-height != false {
      line-height: ($line-height / $font-size);
  }
}
$xs: "screen and (min-width:" + (320px) + ")";
$sm: "screen and (min-width:" + (480px) + ")";
$md: "screen and (min-width:" + (768px) + ")";
$lg: "screen and (min-width:" + (901px) + ")";
$xl: "screen and (min-width:" + (1200px) + ")";
$xxl: "screen and (min-width:" + (1320px) + ")";

$sm-1: "screen and (max-width:" + (489px) + ")";
$md-1: "screen and (max-width:" + (767px) + ")";
$lg-1: "screen and (max-width:" + (900px) + ")";
$xl-1: "screen and (max-width:" + (1199px) + ")";
$xxl-1: "screen and (max-width:" + (1319) + ")";