//- mixin img(obj)
//-   -if(obj && obj.src){
//-     img(src=obj.src, alt=obj.alt, title=obj.alt, width=obj.width, height=obj.height, class=obj.class, id=obj.id)
//-   -}else{
//-     img(src=obj[0], alt=obj[1], title=obj[1], width=obj[2], height=obj[3], class=obj[4], id=obj[5])
//-   -}
//-   //- img(src=obj.src, alt=obj.alt, title=obj.alt, width=obj.width, height=obj.height, class=obj.class)


//- mixin svgicon(id, obj)
//-   -var defaultClass = 'l-icon'
//-   -var obj = obj || {}
//-   //- svg(viewBox="0 0 "+ obj.width || obj.height || 16 + " " + obj.height || obj.width || 16 + "width=" + obj.width || obj.height || 16 + " height=" + obj.height || obj.width || 16 + " class=" + obj.class || '' + "class=[" + defaultClass + "]")
//-     use(xlink:href=obj.path || 'images/icons-svg.svg#' + id)
//-   svg(class=[obj.class, defaultClass])
//-     use(xlink:href=obj.path || 'images/icons-svg.svg#' + id)



//- mixin banner(image, title, linkText)
//-   .spotlight
//-     img(src=image alt=title)
//-     .spotlight__block 
//-       h1=title
//-       a(href="#0")=linkText
  //- +banner('images/img-spotlight--about.jpg', 'page title','shop now')


mixin menu(title, url)
  li
    a(href=url, class=active == title ? 'active' : '')= title