include _mixin
-var page = ''
-var bodyClass = ''
-var pagetitle = ''
-var sitetitle = ''
block variables
doctype html
html.no-js.loading(dir=lang == 'ar' ? 'rtl' : 'ltr')
  head
    title EQS Interview : Machine test
    link(rel="shortcut icon", href="favicon.ico", type="image/vnd.microsoft.icon")
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='keywords', content='')
    meta(name='description', content="")
    meta(property="og:image", content="")
    meta(property="og:title" content="")
    meta(property="og:url" content="")
    meta(property="og:site_name" content="")
    meta(name="format-detection" content="telephone=no")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@300;400&display=swap" rel="stylesheet")

    include _styleLinks
    block stylelinks

    block head
  body.no-js(dir=lang == 'ar' ? 'rtl' : 'ltr', class=bodyClass)
    #page-wrap
      block header
      block body
      block footer
    include _scriptLinks
    block foot