footer.av.footer
    .container
        .row 
            .col
                .footer__col 
                    h4 Footer Heading
                    .footer__items 
                        ul.footer__menu.footer__items-col 
                            +menu('Footer link item', '#')
                            +menu('Footer link item', '#')

                        ul.footer__menu.footer__items-col 
                            +menu('Footer link item', '#')

            .col 
                .footer__col
                    h4 Contact
                    .footer__items
                        .footer__items-col 
                            p Company Name 
                            p 54, Street name 
                            p Road and numbers

                        .footer__items-col 
                            a.mail__link(href="mailto:info@company.com") info@company.com

            .col 
                .footer__col
                    h4 Connect with us  
                    .footer__items.footer__items-social 
                        p Stay connected with us

                        ul.footer__social 
                            li 
                                a(href="#") 
                                    img(src="images/twitter.svg", alt="twitter")
                            li 
                                a(href="#") 
                                    img(src="images/facebook.svg", alt="fb")
                            li 
                                a(href="#") 
                                    img(src="images/linkedin.svg", alt="linkedin")
                            li 
                                a(href="#") 
                                    img(src="images/youtube.svg", alt="youtube")

                            li 
                                a(href="#") 
                                    img(src="images/instagram.svg", alt="insta")
        
    .container--fluid.copyrights
        .row
            .col    
                p   
                    span &copy; 
                    span#year
                    span  Company Name

    .back-top
        img(src="images/arrow-left.svg", alt="")
                   

        