header.av.header
  .container.container--fluid
    .header__wrap

      .logo_wrap 
        a(href="/") 
          img(src="images/company-logo.svg", alt="company")

      nav.header__nav
        .nav__btn
          button.btn.btn--nav 
            img(src="images/menu-open-button.svg", alt="menu")
        .main__menu
          ul
            li 
              a(href="/") Home
            li 
              a(href="#") About
            li 
              a(href="#") Design
            li 
              a(href="#") Design expertise
            li 
              a(href="#") Decor gallery
            li 
              span Edge ideas Sub Menu
              ul.submenu 
                li 
                  a(href="#") Sub Menu Item 
                li 
                  a(href="#") Sub Menu Item 
                li 
                  a(href="#") Sub Menu Item 
            li 
              a(href="#") SURTECO Art

            li 
              a(href="#") Surface technologies

            li 
              a(href="#") Decor of the month

          span.seperator.seperator--extendright
          ul
            li 
                a(href="#") News
            li 
                a(href="#") Newsletter
            li 
                a(href="#") Contact
