section.section.section--hero
    .slider__buttons 
        button.btn.btn--prev 
            img(src="images/arrow-left.svg", alt="prev")
        button.btn.btn--next 
            img(src="images/arrow-right_1.svg", alt="next")

    .hero--wrap
        .slider-item
            .container.container--fluid 
                .row 
                    .col.col--title 
                        .title__wrap 

                            h1 Products for rooms in which we feel comfortable 
                            h6 product gallery
                            a.btn.btn--main.btn--herocta(href="#") learn more

                    .col.col--image     
                        figure 
                            img(src="images/hero1.jpg", alt="hero")  

        .slider-item
            .container.container--fluid 
                .row 
                    .col.col--title 
                        .title__wrap 

                            h1 Products for rooms in which we feel comfortable 
                            h6 product gallery
                            a.btn.btn--main.btn--herocta(href="#") learn more

                    .col.col--image     
                        figure 
                            img(src="images/hero1.jpg", alt="hero") 
