.section{
    &--hero{
        min-height: 100vh;
        box-sizing: border-box;
        background-color: $theme_bg;
        padding: 0;
        position: relative;
        @media screen and (max-width: 900px){
            max-height: 100vh;
        }
        .slider__buttons{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
            display: flex;
            justify-content: space-between;
            width: 100%;
            @media #{$xl}{
                max-width: 62.5%;
            }
            
            .btn{
                background-color: #edf0f5;
                border: none;
                padding: 30px 45px;
                @media #{$xl-1}{
                    padding: 15px 20px;
                }
                &--prev{
                    left: 0;
                }
                &--next{
                    right: 0;
                }
            }
        }
        .slick-track{
            display: flex;
        }
        .container {
            padding: 0;
        }
        .row{
            position: relative;
            @media #{$xl}{
                position: static
            }
            .col{
                min-height: 100vh;
                &--title{
                    
                    display: flex;
                    align-items: flex-start;
                    @media #{$xl-1}{
                        position: absolute;
                        background-color: #fff;
                        min-height: 0;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        width: 100%;
                        max-width: calc(100vw - 200px);
                        margin-left: auto;
                        margin-right: auto;
                        padding-bottom: 100px;
                    }

                    @media #{$lg-1}{
                        max-width: calc(100vw - 100px);
                    }
                    
                    @media #{$xl}{
                        position: relative;
                        flex: 0 0 62.5%;
                        max-width: 62.5%;
                        background-color: transparent;
                    }
                    .title__wrap{
                        margin-top: 260px;
                        box-sizing: content-box;
                        max-width: 560px;
                        padding-left: 160px;
                        @media #{$xl-1}{
                            padding-left: 60px;
                            padding-right: 60px;
                        }
                        @media #{$md-1}{
                            padding-left: 30px;
                            padding-right: 30px;
                            h1{
                                font-size: 40px;
                            }
                        }
                        @media screen and (min-width: 1600px){
                            padding-left: calc((100vw - 1320px)/2);
                            
                        }
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        
                        h1{
                            margin-bottom: 20px;
                            order: 2;
                            line-height: 1.15;
                        }

                        h6{
                            order: 1;
                        }

                        .btn--herocta{
                            order: 3;
                        }
                    }
                }
                &--image{
                    @media #{$xl}{
                        flex: 0 0 37.5%;
                        max-width: 37.5%;
                    }
                    figure{
                        padding: 0;
                        margin: 0;
                        height: 100%;
                        width: 100%;
                        max-width: 100%;
                        max-height: 100%;
                        img{
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                            transition: all ease-in-out 0.5s;
                            transition-delay: 0.5s;
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}

.slider-item.slick-slide.slick-current.slick-active{
    .col--image{
        figure{
            img{
                opacity: 1;
            }
        }
    }
    
}